@import "../node_modules/bootstrap/scss/bootstrap.scss";

:root {
  // --main-background: linear-gradient(to right, #111111, #222222);
  --main-background: linear-gradient(#111111, #222222);

  --main-background-color: #111111;
  // --secondary-background: #2A252E;
  --secondary-background: #111111;

}

body {
  box-sizing: border-box;
  margin: 0 auto;
  overflow-x: hidden;
  display: flex;
  width: 100vw;
  justify-content: center;
  font-family: -apple-system, BlinkMacSystemFont, 'Noto Sans', 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--main-background-color);
  color: #eeeeee;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.main-container {
  display: flex;
  flex-direction: column;
  background-color: var(--secondary-background);
  margin: 2em auto;
  border-radius: 1em;
}

#avi-about-me {
  display: flex;
  gap: 3em;
  background-color: var(--secondary-background);
  border-radius: 1em;
  align-items: stretch;
  // flex-direction: column;
  justify-content: space-evenly;
  text-align: start;
}

#avi-col {
  display: flex;
  flex-direction: row;
  border-radius: 1em;
  margin: auto 0;
  background-attachment: fixed;
  background-image: var(--main-background);
  justify-content: center;
  padding: 2em;
}

#avi {
  display: block;
  margin: auto;
  max-width: 20em;
  max-height: 20em;
}

#about-me {
  display: flex;
  flex-direction: row;
  align-items: center;
  border-radius: 1em;
  flex-grow: 2;

  h2, h3, div {
    padding: 0.5em 1em 0.5em 1em;
  }
  
  background-color: #111111;
  background-attachment: fixed;
  background-image: var(--main-background);
}

.navbar {
  display: flex;
  background-color: var(--secondary-background);
  align-items: center;
  justify-content: space-between;
  width: 100vw;
}

.nav-link {
  color: #eeeeee;
}

#main-link {
  display: flex;
  position: sticky;
  margin-left: 2.5vw;
  margin-right: 75.5vw;
  padding: 1em;
  align-items: baseline;
}

.secondary-link {
  display: flex;
  padding: 1em;
  align-items: baseline;
}

#project-results {
  display: flex;
  flex-direction: row;
  gap: 2em;

  h3 {
    margin: auto 0 auto 0;
    height: 100%
  }

  div {
    width: 100%;
  }

  .carousel {
    height: 50vh;
    margin: 2em auto;
  }
  
  .carousel-img {
    width: 100%;
    margin: 0 auto;
    height: inherit;
    max-height: 100vh;
    border-radius: 1em;
  }
  
  .carousel-item {
    width: 100%;
    background-image: var(--main-background);
    border-radius: 1em;
    height: 50vh;
  }
  
  .carousel-caption {
    background-color: #222222;
    opacity: 50%;
    border-radius: 1em;
    width: fit-content;
    max-width: 25em;
    align-items: start;
    text-align: start;
    margin-left: -10%;
    padding: 1em;
  }

  // .carousel-control-next-icon, .carousel-control-prev-icon {
  //  background-color: #222222;
  // //  opacity: 30%;
  // }

  .carousel-control-prev-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23808080' viewBox='0 0 8 12'%3E%3Cpath d='M5.25 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3E%3C/svg%3E");
}

.carousel-control-next-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23808080' viewBox='0 0 8 12'%3E%3Cpath d='M2.75 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3E%3C/svg%3E");
}

  padding: 2em;
  margin: 2.5em auto;
  background-image: var(--main-background);
  background-attachment: fixed;
  border-radius: 1em;
}

.carousel-indicators {
  justify-content: center;
  max-width: inherit;
  margin: 0 auto;
}

#skills-edu {
  display: flex;
  flex-direction: row;
  align-items: center;

  #list-items {
    display: flex;
    flex-wrap: wrap;
    align-items: center;

    #education, #skills {
      display: flex;
      width: fit-content;
      flex-direction: row;
      align-items: center;
      justify-content: start;
      margin-left: 2em;
      list-style-type: none;
      border-left-style: solid;
      border-width: 2px;
      border-image: linear-gradient(to top, #483248, #807b8f);
      border-image-slice: 1;
      flex-wrap: nowrap;

      li {
        display: flex;
        flex-direction: column;
        align-items: start;
        text-align: start;
        margin-right: 1em;
      }

      span {
        font-size: 12px;
        width: 50%;
      }
    }
  }
  
  .sub-list {
    font-size: 12px;
  }
}

#contacts {
  display: flex;
  flex-direction: row;
  align-items: center;
  
  #contact-list {
    display: flex;
    list-style-type: none;

    li {
      // margin-right: 1em;
      // display: flex;
      width: 100%;
      justify-content: space-evenly;
    }
  }
}





