* {
  box-sizing:border-box;
  }

  :root {
    --purple: #512888;
    --grey: #d1d1d1;
    --white: #fff;
  }
  
  body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
  }
  

  header {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    background: var(--purple);
    color: var(--white);
    width: 100%;
    height: 100px;
    justify-content: space-between;
  }
  
  header h1 {
    text-align: left;
    margin-left: 2%;
    margin-top: 50px;
  }

  header ul {
    text-align: right;
    margin-top: 55px;
    margin-right: 50px;
  }

  header ul li {
    margin: 20px;
    list-style: none;
    display: inline;
    font-size: 24px;
  }

  a {
    color: var(--white);
    text-decoration: none;
  }

  .row {
    display: flex;
    flex-wrap: wrap;
  }

  .side {
    flex-basis: 15%;
    background-color: var(--grey);
    padding: 20px;
    text-align: right;
  }

  .primary {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    flex-basis: 85%;
    background-color: var(--white);
    padding: 20px;   
  }

  section img {
    max-width: 200px;
    max-height: 200px;
    border: 3px black solid;
  }

  section p {
    margin-left: 10px;
    width: 75%;
  }

  aside h2 {
    font-size: 32px;
    color:darkslategray;

  }

  .container1 {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    flex-basis: 85%;
    background-color: var(--white);
    padding: 1%;
    height: 1000px;  
    justify-content: center;
  }

  .box1 {
    border: 3px var(--purple) solid;
    height: 15%;
  }

  .box1 h2 {
    position: absolute;
    color:var(--white);
    margin-top: 325px; 
    background-color: var(--purple); 
    border: solid var(--purple) 3px;
  }
    
  .box2, .box3, .box4, .box5 {
    border: 3px var(--purple)  solid ;
    flex-basis: 42%;
    height: 15%;
    background-color: #d1d1d1;   
    opacity: 0.5; 
    margin: 10px;
    
 }

 .box2 h2, .box3 h2, .box4 h2, .box5 h2 {
    position: relative;
    color:var(--white);
    margin-top: 75px; 
    background-color: var(--purple); 
    border: solid var(--purple) 3px;
    width:162px;
 }

  #highlight {
    width: 85%;
    background-image: url("../images/Horiseon-1.png");
    height:500px;
    background-position: center;
    background-size:cover;
    margin-bottom: 25px;
    opacity: 0.5;
  }

  #highlight:hover {
    opacity: 1;
  }

  .box1:hover, .box2:hover, .box3:hover, .box4:hover, .box5:hover {
    opacity: 1;
    

  }
  
  
  @media screen and (max-width:992px){
  .row {
    flex-direction: column;
  }

  .side {
    text-align: center;
    padding: 0px;
  }

  .primary {
    justify-content: center;
  }

  #highlight, .box2, .box3, .box4, .box5 {
    opacity: 1;
  }
}
  
  @media screen and (max-width:768px){
  header {
  width:100%;
  height: 200px;
  justify-content: center;
  }

  header ul {
    margin-top: 5%;
    text-align: center;
  }
}