/* The boxes on the entire page are set to be sized as a border box. In the root element, any object needing 
a preset color will be able to use var("tag") with the selector instead of having to manually input the color multiple times.*/

* {
  box-sizing:border-box;
  }

  :root {
    --purple: #512888;
    --grey: #d1d1d1;
    --white: #fff;
  }
  
/* The text in the entire body section will be assigned this font family, and all of the elements will have a margin of 0 unless it is
changed to a different value.*/

  body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
  }
 
  /* Anything in the header will be set in a flexbox, with all of the elements set in a row. If the amount of elements in one line exceeds
  the width of the page, it will wrap around into another line. There will also be even space between all elements. Background and text colors are set.*/

  header {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    background: var(--purple);
    color: var(--white);
    width: 100%;
    height: 100px;
    justify-content: space-between;
  }
  
  /* The h1 element will be set to the left, with margins to position it in a specific spot.*/

  header h1 {
    text-align: left;
    margin-left: 2%;
    margin-top: 50px;
  }

  /* Unordered list elements will be set to the right, with margins to postion it in a specific spot.*/

  header ul {
    text-align: right;
    margin-top: 55px;
    margin-right: 50px;
  }

  /* Listed elements will be displayed in a line with no extra symbols (bullet points), a set font size, and with margins to poistion it in a specific spot.*/

  header ul li {
    margin: 20px;
    list-style: none;
    display: inline;
    font-size: 24px;
  }

  /* Any elements with a hyperlink will have a text color of white, and no text decorations.*/

  header ul li a {
    color: var(--white);
    text-decoration: none;
  }

  /* Any elements that are children to this selector will be in a flebox and will be able to wrap into another line if need be.*/

  .row {
    display: flex;
    flex-wrap: wrap;
  }
  /* Any elements that are children to this selector will be contained to 15% of the flexbox width, given a specific background color, text set to the right, and padding to put it in a specific spot.*/
  .side {
    flex-basis: 15%;
    background-color: var(--grey);
    padding: 20px;
    text-align: right;
  }
  /* Any elemetns that are children to this selector will be contained to 85% of the flexbox width, a row layout with line wrapping, a width constraint, custom coloring, and padding to place it in a specific location.*/
  .primary {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    flex-basis: 85%;
    background-color: var(--white);
    padding: 20px;   
  }

  /* The image is given a set size and a border.*/

  section img {
    max-width: 200px;
    max-height: 200px;
    border: 3px black solid;
  }

  /* The width for these elements are constrained and a margin is set for specific positioning.*/

  section p {
    margin-left: 10px;
    width: 75%;
  }

  /* The font size for these elements are set to a bigger font size, and a text color is applied to them.*/

  aside h2 {
    font-size: 32px;
    color: var(--white);
  }

  /* Elements with this selector are contained within a flexbox, row layout, and wrapping. The flexbox is set to a lower width than the page,
   a custom height for all the child elements to fit in, and contents centered.*/

  .container1 {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    flex-basis: 85%;
    background-color: var(--white);
    padding: 1%;
    height: 1000px;  
    justify-content: center;
  }

  /* Elements with this selector have a border and a specified height. The header element is also given a background color and more positioning to locate it in a specific spot within the box.*/

  .box1 {
    border: 3px var(--purple) solid;
    height: 15%;
  }

  .box1 h2 {
    position: absolute;
    color:var(--white);
    margin-top: 325px; 
    background-color: var(--purple); 
    border: solid var(--purple) 3px;
  }
  /* Elements with this selector are given the same border, but a different background color and different dimensions since they need to be smaller than the first box. The headers are also given different positioning to fit within the smaller boxes. There is also
  opacity to dull the box until a cursor is placed over it (selector down below).*/  
  .box2, .box3, .box4, .box5 {
    border: 3px var(--purple)  solid ;
    flex-basis: 42%;
    height: 15%;
    background-color: var(--grey);   
    opacity: 0.5; 
    margin: 10px;
    
 }

 #art2 {
    height: 15%;
    background-image: url("../images/Horiseon-1.png");
    background-position: center;
    background-size:cover;
 }

 .box2 h2, .box3 h2, .box4 h2, .box5 h2 {
    position: relative;
    color:var(--white);
    margin-top: 75px; 
    background-color: var(--purple); 
    border: solid var(--purple) 3px;
    width:162px;
 }

  /* Elements with this selector are set to a smaller width, given a background image of the project that is linked from the images folder, a fixed height, positioning for the background image to make it look nicer, and opacity. When the cursor is placed over the element, the opacity
  will disappear, until the cursor is placed elsewhere. */

  #highlight {
    width: 85%;
    background-image: url("../images/WineandDine.jpg");
    height:500px;
    background-position: center;
    background-size:cover;
    margin-bottom: 25px;
    opacity: 0.5;
  }

  #highlight:hover {
    opacity: 1;
  }

  /* Elements with this selector will have the opacity of the box return back to normal once a cursor is placed over the element.*/

  .box1:hover, .box2:hover, .box3:hover, .box4:hover, .box5:hover {
    opacity: 1;
  }

  /* Elements with this selector will have grey background.*/

  #contact-me {
    background-color: var(--grey);
  }

  /* Elements with this selector will be set as its own flexbox, children elements will be laid out as a row, will wrap to a new line if need be, will cover the entire width of the page, a set font size, and will be spaced evenly apart from one another. */

  .container2 {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    flex-basis: 100%;
    justify-content: space-evenly;
    font-size: 20px;
  }

  /* Listed items will have no extra styling (i.e. bullet points)*/

  .container2 li {
  list-style: none;
  
 }
  
  /* Any selectors listed here will have these different properties applied to its children elements when the screen size is reduced to a width of 992px to 769px. */

  @media screen and (max-width:992px){
  .row {
    flex-direction: column;
  }

  .side {
    text-align: center;
    padding: 0px;
  }

  .primary {
    justify-content: center;
  }

  #highlight, .box2, .box3, .box4, .box5 {
    opacity: 1;
  }

  .container2 {
    justify-content: center;
  }

  .container2 li {
    text-align: center;
    padding: 5px;
    margin-right: 50px;
   
  }
}
 
  /* Any selectors listed here will have these different properties applied to its children elements when the screen size is reduced to a width of 768px or less. */

  @media screen and (max-width:768px) {
  header {
  width:100%;
  height: 200px;
  justify-content: center;
  }

  header ul {
    margin-top: 5%;
    text-align: center;
  
  }
}